
@media (min-width:480px)  { 
*{
    margin: 0;
    padding: 0;
    }
body{
    
}
.wrapper{
    width: 1170px;
    margin: 0 auto;

}
header{
    height: 100px;
    background: white;
    width:100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    /* line-height: 100px; */
    }
.word{
    
}
nav a{
        /* float: right; */
       font-family: sans-serif;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 15px;
        margin: 0 10px;
        display: block;
        margin-top: 5px;
        /* color:#fff */
    
}
nav a:hover{
    text-decoration: underline;
}
.banner-area{
    width: 80%;
    height: 300px;
    position: fixed;
    top: 100px;
    background: linear-gradient(0deg, rgba(25, 0, 117, 0.86), rgba(0, 0, 0, 0.86)), url(./images/Screen.jpg);
    background-size: cover;
    background-position: center center;
}
.banner-area h1{
    padding-top: 8%;
    /* font-size: 70px; */
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    
}
.banner-area p{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
     
}
.content-area{
    width: 100%;
    position: relative;
    top: 400px;
    background: white;
    height: 1600px;
}
.content-area p{
    font-family: sans-serif;
    letter-spacing: 2px;
    padding-top: 10px;
    margin: 0;
    font-size: small;
}
.pics1{
    height: 60px;
    width: 60px;
        
}
img{
    text-align: center;
}


 }









@media (min-width:1281px) { 
    *{
        margin: 0;
        padding: 0;
        }
    body{
        
    }
    .wrapper{
        width: 1170px;
        margin: 0 auto;
    
    }
    header{
        height: 0px;
        background: white;
        width:100%;
        z-index: 12;
        position: relative;
       
    }
    .logo{
        width: 30%;
        float: left;
        display: flex;
        margin: 5px;
        /* line-height: 100px; */
        }
    .word{
        margin-top:10px ;
    }
    nav a{
            float: right;
            font-family: serif;
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 15px;
            margin: 0 10px;
            margin-top: 15px;
            /* color:#fff */
        
    }
    nav a:hover{
        text-decoration: underline;
    }
    .banner-area{
        width: 100%;
        height: 400px;
        position: relative;
        top: 55px;
        background: linear-gradient(0deg, rgba(25, 0, 117, 0.86), rgba(0, 0, 0, 0.86)), url(./images/Screen.jpg);
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: space-between;
    }
    .banner-area h1{
        padding-top: 8%;
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        
    }
    .banner-area p{
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        
    }
    .content-area{
        width: 100%;
        position: relative;
        top: 80px;
        background: white;
        height: 1500px;
       
    }
    .content-area p{
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        padding-top: 20px;
        
    }
    .image{
      border-radius: 50px;
      
   
    }
    .app{
        float: right;
        /* position: fixed; */
    }
    .form{
        padding-top: 5%; 
        
        
               
    }
    form{
        background: white;
    }
    .name{
        line-height: 50px;
              
    }
    .email{
        line-height: 50px;
        width: 330px;
    }
    
    













 }